@model ListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4" style="font-weight: bold; color: #333;">Welcome to Coinnect</h1>
    <p class="lead" style="font-size: 1.25rem; color: #555;">Your Funds, Your Control, Connected.</p>
    <p class="mb-5" style="color: #777;">
        Coinnect is a secure and efficient platform for UFS students and staff to manage their finances.<br />
        Create accounts, make transactions, and keep track of your funds all in one place.
    </p>
    <img src="~/images/img2.jpg" alt="Control" style="max-width: 300px;" />
    
    
    
</div>
